*                       text=auto
.gitignore              text eol=lf
.gitattributes          text eol=lf
.vscode/settings.json   text eol=lf
package.json            text eol=lf
package-lock.json       text eol=lf
